<%- include("header") -%>

<h1 class="mb-5">Welcome to your Address Book!</h1>

    <div class="list-group">
        <a class="list-group-item list-group-item-action active">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Your personal Address Book</h5>
            </div>
            <p class="mb-1">Press "Add Address" to create a new entry.</p>
        </a>
        <% addressList.forEach (element => { %>
        <form action="/delete" method="post">
            <a class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 my-auto"><%= element.name + ", " + element.phone%></h5>
                    <button type="button" class="btn btn-link" onClick="this.form.submit(value)"><i class="fas fa-trash-alt"></i></button>
                </div>
            </a>
            <input type="hidden" name="addressId" value="<%= element.id %>"></input>
        </form>
        <% }); %>
    </div>

    <div class="row justify-content-center mt-5">
        <a class="btn btn-success" href="/add-address" role="button">Add Address</a>
    </div>

<%- include("footer") -%>